*{
    margin: 0em;
    padding: 0em;
    list-style: none;
    box-sizing: border-box;
}
body{
    /*margin: 0em auto;*/
    font-family: 'Montserrat', sans-serif;
    color: #343a40;
}
a{
    text-decoration: none;
    color: #343a40;
}

/*******************
BARRA DE NAVEGACION
********************/
header{
    position: fixed;
    top: 0em;
    width: 100%;
    background-color: white;    
}
#menu{
    display: flex;
    justify-content: flex-end;
    padding: 1.25em 3.75em;
    box-shadow: 0em 0.31em 0.94em -0.31em lightgray;
}
#menu li{
    text-transform: uppercase;
    display: inline;
    margin: 0.8em;
    /*font-size: 1em; */
}
#menu li>a{
    background-color: white;
    padding: 0.6em;
    border-radius: 1.25em;
}
.boton{
    border: none;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-size: 1em;
    background-color: #00BFA6;
    border-radius: 1.56em;
    padding: 0.63em 1.88em;
}
a .boton{
    color: white;
}
#menu li>a:hover{
    color: #00BFA6;
}
#menu li>a:focus{
    background-color: white;
    padding: 0.6em;
    border-radius: 1.25em;
    box-shadow: 0em 0em 0.5em 0em #00BFA6;
    transition: 0.2s;
}
.boton:hover{
    background-color: #10d4ba;
    border-radius: 1.56em;
    padding: 0.63em 1.88em;
    cursor: pointer;
    transition: 0.3s;
}
.boton:focus{
    box-shadow: 0em 0em 0.5em 0em #00BFA6;
    background-color: #02aa94;
}

/*****************************
PRIMER SECTION, Presentación
******************************/
#hola{
    margin: 12em 2em 10em 2em;
    display: flex;
    justify-content: center;
}
.about-me{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1100px;
}
.about-me .main, .about-me img{
    width: 100%;
    max-width: 480px;
    /*flex-grow: 1;*/
}
.main h2{
    font-size: 1.8em;
}
.main h1{
    font-family: 'Allison', cursive;
    font-size: 5.6em;
    color: #00BFA6;
}
.main p{
    font-size: 0.94em;
    margin: 0.63em 0em;
}
.main .boton{
    font-weight: bold;
    width: 11.5em;
    padding: 0.9em 1.88em;
    margin: 2em 0em;
}
.main .boton:hover{
    padding: 0.9em 1.88em;
    margin: 2em 0em;
} 

/*****************************
SEGUNDO SECTION, Conocimientos
******************************/ 
#conocimientos{
    background-color: #eaecee;
    padding: 7.5em 2em;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#conocimientos h2{
    /*width: 100%;*/
    font-size: 2.5em;
    margin-bottom: 1em;
}
#conocimientos>p{
    font-size: 0.94em;
    margin-bottom: 3.13em;
}
.centro{
    max-width: 1100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
#conocimientos .centro>div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    min-width: 16.25em;
    /*width: 16.25em;*/
    height: 15em;
    margin: 0.63em;
    /*padding-top: 1em;*/
    border: 0.063em solid lightgray;
    border-radius: 0.5em;
}
#conocimientos div>p{
    font-size: 1.2em;
    font-weight: bold;
    margin-top: 1em; 
}
#conocimientos .centro>div>img{
    width: 28%;
}
#conocimientos .centro>div:hover{
    border: 0.063em solid #00BFA6;
    color: #00BFA6;
    transition: 0.2s;
}

/***********************
TERCER SECTION, Frase
************************/
.frase{
    background-image: url(../imagenes/teal-floral.jpg); 
    background-size: cover;
    color: black;
    text-align: center;
    /*max-height: 600px;*/
    padding: 7.5em 4em;
}
.frase>img{
    width: 8%;
    margin: 0em auto 3.75em auto;
    min-width: 60px;
}
.frase>p{
    font-size: 1.5em;
}
.frase>h3{
    font-family: 'Allison', cursive;
    font-size: 3.44em;
    margin-top: 1em;
}

/**************************
CUARTO SECTION, Proyectos
***************************/
#proyectos{
    padding: 8em 2em;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#proyectos h2{
    font-size: 2.5em;
    margin-bottom: 1em;
}
#proyectos>p{
    font-size: 0.94em;
    margin-bottom: 3.13em;
}
#proyectos .left{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
#proyectos .left>a{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    background-color: white;
    width: 31%;
    height: 20em;
    /*min-width: 18em;*/
    /*min-height: 16em;*/
    margin: 0.6em;
    border: 0.063em solid lightgray;
    border-radius: 0.5em;
}
#proyectos a>p{
    font-size: 1em;
    font-weight: bold;
    margin-top: 2em;
}
#proyectos .left img{
    width: 90%;
    max-height: 9em;
    /*margin-top: 1em;*/
}
#proyectos .left>a:hover{
    border: 0.063em solid #00BFA6;
    color: #00BFA6;
    cursor: pointer;
    transition: 0.3s;
}
#proyectos .left>a:focus{
    box-shadow: 0em 0em 0.5em 0em #00BFA6;
    color: #00BFA6;
    cursor: pointer;
    transition: 0.3s;
}

/************************
QUINTO SECTION, Contacto
*************************/
#contacto{
    background-color: #eaecee;
    padding: 10em 0em;
}
.formulario{
    display: flex;
    justify-content: center;
    background-color: white;
    margin: 0em auto;
    max-width: 1100px;
    width: 80%;
    border: 0.063em solid lightgray;
    border-radius: 0.94em;
    padding: 5em 4em 4em 4em;   
}
.formulario h2{
    font-size: 2.5em;
    margin-bottom: 0.8em;
}
.formulario>div{
    /*flex-grow: 1;*/
    width: 50%;
}

/**********Primera columna**********/

.formulario .first-col>p{
    width: 70%;/*no se por qué si no le pongo este width se cruza con el div de al lado, .last-col*/
    font-size: 0.94em;
    margin-bottom: 2.5em;
}
.first-col .social-media .sm1 ul>li, .first-col .social-media .sm2 ul>li{
    margin-bottom: 0.65em;
    font-size: 0.94em;
}
.first-col .social-media li a>i{
    margin-right: 0.6em;
    padding: 0.5em;
    font-size: 1.2em;
    color: #00BFA6;
}
.first-col .social-media li a>i:hover{
    margin-right: 0.6em;
    padding: 0.5em;
    font-size: 1.2em;
    color: white;
    background-color: #10d4ba;
    border-radius: 10em;
    transition: 0.3s;
}
.first-col .social-media li>a:hover{
    color: #10d4ba;
}
.first-col .social-media li>a:focus{
    background-color: white;
    padding: 0.6em 0.6em 0.6em 0em;
    border-radius: 1.25em;
    box-shadow: 0em 0em 0.5em 0em #00BFA6;
    transition: 0.2s;
}

/*********Segunda columna**********/

.last-col label{
    font-weight: bold;
    display: block;
}
.username{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.username .name{
    /*position: relative;*/
    flex-grow: 1;
}
.username .fst{
    margin-right: 0.6em;
}
.username .snd{
    margin-left: 0.6em;
}
input,textarea{
    border: none;
    border-radius: 1.25em;
    background-color: #f1f4f7;
    padding: 0.5em 0em 0.75em 0.95em;
    font-family: 'Montserrat', sans-serif;
    color: #7c7575;
    margin: 0.65em 0em 1.25em 0em;
    font-size: 0.9em;
    width: 100%;
}
textarea{
    height: 9.38em;
    max-width: 520px;
    max-height: 200px;
}
.last-col .boton{
    background-color: #00BFA6;
    width: 10em;
    border-radius: 1.8em;
    padding: 1em;
    color: white;
    font-size: 0.9em;
}
.last-col .boton:hover{
    background-color: #10d4ba;
    width: 10em;
    text-transform: uppercase;
    border-radius: 1.8em;
    padding: 1em;
    color: white;
    font-size: 0.9em;
    cursor: pointer;
    transition: 0.3s;
}
input:focus,textarea:focus{
    box-shadow: 0em 0em 0.5em 0em #00BFA6;
    outline: 1px solid #00BFA6;
    transition: 0.2s;
}
.boton input:focus[type="submit"]{
        background-color: #02aa94;
}

/**************
FOOTER
**************/
footer{
    background-image: url(../imagenes/teal-floral.jpg); 
    background-size: cover;
    color: black;
    text-align: center;
    padding: 4.4em 2em;
}
footer .nav>a{
    margin: 0em 0.65em;
    text-transform: uppercase;
    font-size: 0.9em;
    padding: 0.6em;
    border-radius: 1.25em;
}
footer .nav>a:focus{
    border-radius: 1.25em;
    box-shadow: 0em 0em 0.5em 0em black;
    transition: 0.2s;
}
footer i{
    font-size: 1.2em;
    background-color: white;
    padding: 0.7em;
    border: 0.06em solid white;
    border-radius: 10em;
    color: black;
    margin: 2em 0.5em 1.4em 0.5em;
}
footer .social a>i:hover{
    font-size: 1.2em;
    background-color: black;
    padding: 0.7em;
    border-radius: 10em;
    border: 0.06em solid white;
    color: white;
    margin: 2em 0.5em 1.4em 0.5em;
    transition: 0.2s;
}
footer .social a:focus i{
    padding: 0.7em;
    border-radius: 10em;
    box-shadow: 0em 0em 0.5em 0em black;
    transition: 0.2s;
}
footer span{
    font-family: 'Allison', cursive;
    font-size: 2em;
}

/**********************
MEDIA QUERIES
**********************/
@media (max-width:1100px){
    #menu{
        display: none;
    }
    .about-me{
        flex-direction: column;
        align-items: center;
    }
    .about-me .main{
        text-align: center;
        margin-bottom: 3.75em;
    }
}
@media (max-width:1060px){
    #proyectos .centro .left{
        max-width: 710px;
    }
    #proyectos .centro .left>a{
        /*width: 30%;*/
        /*height: 19em;*/
        min-width: 20em;
        /*min-height: 16em;*/
        margin: 0.6em 0.6em;
    }
    #contacto{
        padding: 8em 0em;
    }
    #contacto .formulario{
        width: 85%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 5em 1em 3em 1em; 
    }
    .formulario .last-col label{
        font-weight: bold;
        display: block;
        text-align: left;
    }
    .formulario .first-col .social-media{
    display: flex;
    justify-content: left;
    }
    .first-col .social-media .sm1, .first-col .social-media .sm2{
        width: 50%;
        text-align: left;
    }
    #contacto .formulario .first-col, #contacto .formulario .last-col{
        width: 80%;
        margin-bottom: 3.12em;
    }
    .formulario .first-col>p{
        width: 100%;
    }
    #contacto .formulario .last-col input,textarea{
        max-width: 100%;
    }
    #contacto .formulario .last-col .username .name{
       width: 50%;
    }
}
@media(max-width: 815px){
    #contacto .formulario{
        width: 90%;
        padding: 4em 0em 1em 0em; 
    }
}
@media(max-width:750px){
    #proyectos .centro .left{
        max-width: 700px;
    }
    #proyectos{
        padding: 8em 1em;
    }
    #contacto{
        background-color: white;
        padding: 3em 0em;
    }
    #contacto .formulario{
        border:none;
    }
    .formulario .first-col .social-media{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        }
    .first-col .social-media .sm1, .first-col .social-media .sm2{
        width: 100%;
        text-align: center;
    }
}
@media(max-width:710px){
    #proyectos .centro .left{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    #proyectos .centro .left>a{
        width: 30%;
        max-width: 10em;
    }
}
@media(max-width:700px){
    footer .nav{
        display: none;
    }
}
@media(max-width:500px){
    #conocimientos{
        padding: 7.5em 1em;
    }
    #conocimientos .centro>div{
        min-width: 8.8em;
        width: 40%;
        height: 9em;
        margin: 0.63em;
    }
    #conocimientos div>p{
        font-size: 0.9em;
        font-weight: bold;
        margin-top: 1em; 
    }
    #contacto .formulario .last-col .username{
        flex-direction: column;
    }
    #contacto .formulario .last-col .username .name{
        width: 100%;
    }
    #contacto .formulario .last-col .username .fst{
        margin-right: 0em;
    }
    #contacto .formulario .last-col .username .snd{
        margin-left: 0em;
    }
}
@media(max-width:370px){
    #contacto .formulario{
        width: 100%;
        padding: 5em 0em 3em 0em;
    }
}
@media(max-width:350px){
    #conocimientos .centro>div{
        min-width: 10em;
        width: 55%;
        height: 9em;
        margin: 0.63em;
    }
}